[production]
>0.2%

last 2 chrome versions
last 2 firefox versions
last 2 safari versions
last 2 edge versions
unreleased versions

not dead
not ie 11 # CSS would be all broken anyway
not ios_saf 12.2 # there seems to be no reason it wouldn't work, but we're getting error reports about e.g. Object.fromEntries
not op_mini all
not safari tp # had to add that in otherwise esbuild fails

[development]
last 2 chrome versions
last 2 firefox versions
last 2 safari versions

unreleased versions
