ALGOLIA_API_KEY=
ALGOLIA_APP_ID=LVYWOPQ0A9
ALGOLIA_INDEX=asap-hub_dev
AUTH0_AUDIENCE=https://dev.hub.asap.science
AUTH0_CLIENT_ID=xRDvgZe3Ql3LSZDs2dWQYzcohFnLyeL2
AUTH0_DOMAIN=dev-asap-hub.us.auth0.com
CRN_SQUIDEX_APP_NAME=asap-hub-dev
CRN_SQUIDEX_CLIENT_ID=asap-hub-dev:default
CRN_SQUIDEX_CLIENT_SECRET=
GP2_AUTH0_AUDIENCE=https://dev.gp2.asap.science
GP2_SQUIDEX_APP_NAME=gp2-hub-dev
GP2_SQUIDEX_CLIENT_ID=gp2-hub-dev:gp2-ci-client
GP2_SQUIDEX_CLIENT_SECRET=
LOG_ENABLED=true
REACT_APP_CRN_AUTH0_AUDIENCE=https://dev.hub.asap.science
REACT_APP_CRN_AUTH0_CLIENT_ID=xRDvgZe3Ql3LSZDs2dWQYzcohFnLyeL2
REACT_APP_CRN_AUTH0_DOMAIN=dev-asap-hub.us.auth0.com
REACT_APP_GP2_AUTH0_AUDIENCE=https://dev.gp2.asap.science
REACT_APP_GP2_AUTH0_CLIENT_ID=sUSMSrBS3FMhb58bxiwQZOTPbZMPWIje
REACT_APP_GP2_AUTH0_DOMAIN=dev-gp2-hub.us.auth0.com
SQUIDEX_BASE_URL=https://cloud.squidex.io
CONTENTFUL_SPACE_ID=5v6w5j61tndm
CONTENTFUL_ENVIRONMENT=dev
