# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins

**/__pycache__
*.pyc

# testing
/.jest-cache
.eslintcache

/coverage
/apps/*/coverage
/packages/*/coverage

# production
/apps/*/build*
/packages/*/build*

/.serverless*
dev/localstack
dev/mongodb
dev/sync-squidex-schemas.sh
bin

*.tsbuildinfo

# misc
.DS_Store
.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editors
.vscode
.vim
.idea

# squidex
.configuration
