# https://gitlab.com/yldio/asap-hub/-/ci/lint
include:
  - 'ci/.gitlab-ci.ses.yml'
  - 'ci/.gitlab-ci.integration.yml'

.tmpl:master: &tmpl_master
  rules: &tmpl_master_rules
    - if: $CI_COMMIT_BRANCH == 'master'
  variables: &tmpl_master_variables
    SLS_STAGE: production

.tmpl:branch: &tmpl_branch
  rules:
    - if: $CI_EXTERNAL_PULL_REQUEST_IID
  variables: &tmpl_branch_variables
    SLS_STAGE: $CI_EXTERNAL_PULL_REQUEST_IID-gitlab

.tmpl:deploy:
  variables: &tmpl_deploy_variables
    NODE_ENV: production
    NODE_OPTIONS: '--max_old_space_size=4096'

variables:
  ASAP_HOSTNAME: hub.asap.science
  PLAYWRIGHT_BROWSERS_PATH: 0
  BASE_NODE_IMAGE: $ECR_REGISTRY/$ECR_PROJECT/node:14.17-alpine

image: $BASE_NODE_IMAGE

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == 'master'
    - if: $CI_EXTERNAL_PULL_REQUEST_IID

stages:
  - build
  - test
  - check
  - deploy-dev
  - verify-dev
  - build-prod
  - prepare-prod
  - deploy-prod
  - verify-prod

###############
# stage build #
###############
.build:ts:
  image: $INTEGRATION_DOCKER_IMAGE
  artifacts:
    expire_in: 2 weeks
    paths:
      - 'packages/*/build*'
      - 'apps/*/build*'
  variables:
    NODE_ENV: 'production'
  before_script:
    - source ci/env-setup.sh
    - export REACT_APP_ALGOLIA_APP_ID=$(aws ssm get-parameter --name "algolia-app-id-dev" --query Parameter.Value --output text)
    - export REACT_APP_ALGOLIA_INDEX=$ALGOLIA_INDEX
    - export REACT_APP_API_BASE_URL=$ASAP_API_URL
    - export REACT_APP_ENVIRONMENT="development"
    - export REACT_APP_RELEASE=${CI_PIPELINE_ID}-dev
    - export REACT_APP_SENTRY_DSN=$REACT_APP_SENTRY_DSN
  script:
    - yarn run build
  stage: build

build:ts:branch:
  extends: .build:ts
  variables:
    REACT_APP_SENTRY_DSN: ''
  rules:
    - if: $CI_EXTERNAL_PULL_REQUEST_IID

build:ts:dev:
  extends: .build:ts
  variables:
    REACT_APP_SENTRY_DSN: ${REACT_APP_SENTRY_DSN_DEV}
  rules:
    - if: $CI_COMMIT_BRANCH == 'master'

prepare:squidex:branch:
  <<: *tmpl_branch
  image: $INTEGRATION_DOCKER_IMAGE
  stage: build
  environment:
    name: review/$CI_EXTERNAL_PULL_REQUEST_IID
    url: https://$CI_EXTERNAL_PULL_REQUEST_IID.$ASAP_HOSTNAME
    auto_stop_in: 3 days
  variables:
    <<: *tmpl_branch_variables
  cache:
    key: '$CI_EXTERNAL_PULL_REQUEST_IID'
    paths:
      - first_run/
  script:
    - export SQUIDEX_APP_NAME=${CI_EXTERNAL_PULL_REQUEST_IID}-gitlab
    - export SQUIDEX_CLIENT_ID=$SQUIDEX_TEST_CLIENT_ID
    - export SQUIDEX_CLIENT_SECRET=$SQUIDEX_TEST_CLIENT_SECRET
    - python ci/integration/scripts/create-app.py
    - export MOST_RECENT_BACKUP=$(aws s3api list-objects-v2 --bucket "asap-hub-dev-data-backup" --query 'sort_by(Contents, &LastModified)[-1].Key' --output=text)
    - aws s3api get-object --bucket "asap-hub-dev-data-backup" --key $MOST_RECENT_BACKUP  $MOST_RECENT_BACKUP
    - tar -xf $MOST_RECENT_BACKUP #todo
    - source ci/env-setup.sh
    # replaces placeholders in squidex rules.
    - ./ci/config-squidex-rules.sh
    # Check if this is the first run of squidex-app-create - cache is persisted between PR workflows
    - export FIRST_RUN=$(test -f "first_run/squidex_app_create" && echo "false" || echo "true")
    # imports from backup into squidex. Runs one time only on first run of PR.
    - ./ci/import-squidex-data.sh
    # applies schema updates to squidex.
    - ./ci/update-squidex-schema.sh
    # Store a random file in the cached directory to mark completion of squidex-app-create
    - echo "Caching successful import"
    - mkdir -p first_run
    - touch first_run/squidex_app_create

.build:sls:package:
  image: $INTEGRATION_DOCKER_IMAGE
  stage: build
  artifacts:
    expire_in: 2 weeks
    paths:
      - '.serverless'
  script:
    - source ci/env-setup.sh
    - yarn rebuild # Duplicated for performance
    - yarn build:typecheck # Duplicated for performance
    - yarn build:babel # Duplicated for performance
    - yarn sls package

build:sls:package:branch:
  extends: .build:sls:package
  variables:
    <<: *tmpl_branch_variables
    <<: *tmpl_deploy_variables
  rules:
    - if: $CI_EXTERNAL_PULL_REQUEST_IID
  before_script:
    - export SQUIDEX_APP_NAME=${CI_EXTERNAL_PULL_REQUEST_IID}-gitlab
    - export SQUIDEX_CLIENT_ID=$SQUIDEX_TEST_CLIENT_ID
    - export SQUIDEX_CLIENT_SECRET=$SQUIDEX_TEST_CLIENT_SECRET

build:sls:package:dev:
  extends: .build:sls:package
  rules:
    - if: $CI_COMMIT_BRANCH == 'master'
  environment:
    name: dev
    url: $ASAP_APP_URL
  variables:
    <<: *tmpl_deploy_variables
    SLS_STAGE: 'dev'

build:native:
  artifacts:
    expire_in: 2 weeks
    paths:
      - '.yarn/unplugged'
  script:
    - yarn rebuild
  stage: build

##############
# stage test #
##############

test:unit:
  cache:
    key: jest-cache
    paths:
      - .jest-cache/
  artifacts:
    expire_in: 5 day
    paths:
      - coverage
  script:
    - yarn run test
  needs: []
  stage: test

test:browser:
  image: mcr.microsoft.com/playwright:bionic
  script:
    - yarn run test:browser
  needs:
    - build:native
  stage: test

test:build-output:
  rules:
    - if: $CI_EXTERNAL_PULL_REQUEST_IID
  script:
    - yarn run test:build-output
  stage: test
  needs:
    - build:ts:branch

##############
# stage check #
##############

check:packages:
  script:
    - yarn install --immutable --immutable-cache
  stage: check
  needs: []

check:constraints:
  script:
    - yarn constraints
  stage: check
  needs: []

check:format:
  script:
    - yarn run lint:format
  stage: check
  needs: []

check:bundlewatch:
  <<: *tmpl_branch
  script:
    - export CI_REPO_OWNER="$CI_PROJECT_NAMESPACE"
    - export CI_REPO_NAME="$CI_PROJECT_NAME"
    - export CI_BRANCH="$CI_COMMIT_BRANCH"
    - yarn bundlewatch
  stage: check
  needs:
    - build:ts:branch
  dependencies:
    - build:ts:branch

####################
# stage deploy-dev #
####################

.deploy:sls:
  <<: *tmpl_branch
  image: $INTEGRATION_DOCKER_IMAGE
  stage: deploy-dev
  script:
    - source ci/env-setup.sh
    - yarn sls deploy --package .serverless --verbose

deploy:sls:branch:
  extends: .deploy:sls
  rules:
    - if: $CI_EXTERNAL_PULL_REQUEST_IID
  variables:
    <<: *tmpl_branch_variables
    <<: *tmpl_deploy_variables
  before_script:
    - export SQUIDEX_APP_NAME=${CI_EXTERNAL_PULL_REQUEST_IID}-gitlab
    - export SQUIDEX_CLIENT_ID=$SQUIDEX_TEST_CLIENT_ID
    - export SQUIDEX_CLIENT_SECRET=$SQUIDEX_TEST_CLIENT_SECRET
  dependencies:
    - build:native
    - build:sls:package:branch
    - build:ts:branch

deploy:sls:dev:
  extends: .deploy:sls
  rules:
    - if: $CI_COMMIT_BRANCH == 'master'
  stage: deploy-dev
  environment:
    name: dev
    url: $ASAP_APP_URL
  variables:
    <<: *tmpl_deploy_variables
    SLS_STAGE: 'dev'
  dependencies:
    - build:native
    - build:sls:package:dev
    - build:ts:dev

####################
# stage verify-dev #
####################

verify:branch:
  <<: *tmpl_branch
  stage: verify-dev
  variables:
    API_URL: https://api-$CI_EXTERNAL_PULL_REQUEST_IID-gitlab.$ASAP_HOSTNAME
  script:
    - ASAP_API_URL=$API_URL yarn test:e2e

e2e:branch:
  <<: *tmpl_branch
  stage: verify-dev
  image: mcr.microsoft.com/playwright:focal
  variables:
    APP_URL: https://$CI_EXTERNAL_PULL_REQUEST_IID-gitlab.$ASAP_HOSTNAME
  script:
    - yarn workspace @asap-hub/e2e-tests run playwright install
    - ASAP_APP_URL=$APP_URL yarn workspace @asap-hub/e2e-tests run playwright test

verify:schema:branch:
  <<: *tmpl_branch
  image: $INTEGRATION_DOCKER_IMAGE
  stage: verify-dev
  variables:
    API_URL: https://api-$CI_EXTERNAL_PULL_REQUEST_IID.$ASAP_HOSTNAME
  needs:
    - build:native
    - prepare:squidex:branch
  script:
    - export SQUIDEX_APP_NAME=${CI_EXTERNAL_PULL_REQUEST_IID}-gitlab
    - export SQUIDEX_CLIENT_ID=$SQUIDEX_TEST_CLIENT_ID
    - export SQUIDEX_CLIENT_SECRET=$SQUIDEX_TEST_CLIENT_SECRET
    - export SQUIDEX_BASE_URL=https://cloud.squidex.io
    - git init
    - yarn schema:update
    - git diff --exit-code ./apps/crn-server/src/autogenerated-gql/

report:frontend:release:dev:
  <<: *tmpl_master
  stage: verify-dev
  script:
    - yarn install --immutable --immutable-cache
    - export FRONTEND_SENTRY_RELEASE_AUTH_TOKEN=$FRONTEND_SENTRY_RELEASE_AUTH_TOKEN
    - export REACT_APP_RELEASE=${CI_PIPELINE_ID}-dev
    - yarn run release:frontend

verify:development:
  <<: *tmpl_master
  stage: verify-dev
  environment:
    name: dev
    url: $ASAP_APP_URL
  script:
    - yarn test:e2e

#####################
# stage build-prod #
#####################

build:ts:prod:
  extends: .build:ts
  rules:
    - if: $CI_COMMIT_BRANCH == 'master'
  stage: build-prod
  environment:
    name: production
    url: $ASAP_APP_URL
  before_script:
    - export AUTH_FRONTEND_BASE_URL=$ASAP_APP_URL/.auth/
    - export REACT_APP_ALGOLIA_APP_ID=$(aws ssm get-parameter --name "algolia-app-id-prod" --query Parameter.Value --output text)
    - export REACT_APP_ALGOLIA_INDEX="asap-hub_prod"
    - export REACT_APP_API_BASE_URL=$ASAP_API_URL
    - export REACT_APP_ENVIRONMENT="production"
    - export REACT_APP_RELEASE=${CI_PIPELINE_ID}-production
  needs: []

build:sls:package:prod:
  extends: .build:sls:package
  rules:
    - if: $CI_COMMIT_BRANCH == 'master'
  stage: build-prod
  environment:
    name: production
    url: $ASAP_APP_URL
  variables:
    <<: *tmpl_deploy_variables
    SLS_STAGE: production
  needs:
    - build:ts:prod

#####################
# stage deploy-prod #
#####################

deploy:sls:prod:
  extends: .deploy:sls
  rules:
    - if: $CI_COMMIT_BRANCH == 'master'
  stage: deploy-prod
  variables:
    <<: *tmpl_deploy_variables
    SLS_STAGE: production
  environment:
    name: production
    url: $ASAP_APP_URL
  dependencies:
    - build:native
    - build:sls:package:prod
    - build:ts:prod

#####################
# stage verify-prod #
#####################

report:frontend:release:production:
  <<: *tmpl_master
  stage: verify-prod
  script:
    - yarn install --immutable --immutable-cache
    - export FRONTEND_SENTRY_RELEASE_AUTH_TOKEN=$FRONTEND_SENTRY_RELEASE_AUTH_TOKEN
    - export REACT_APP_RELEASE=${CI_PIPELINE_ID}-production
    - yarn run release:frontend

verify:production:
  <<: *tmpl_master
  stage: verify-prod
  environment:
    name: production
    url: $ASAP_APP_URL
  script:
    - yarn test:e2e
