# dependencies
/.serverless*
/.pnp.js
/.yarn

# testing
/coverage
/apps/*/coverage
/packages/*/coverage

# production
/build
/apps/*/build
/packages/*/build
/dev/squidex
**/build-cjs

# editors
.vscode
.vim
