# dependencies
/.serverless*
/.pnp.js
/.yarn

# testing
/coverage
/apps/*/coverage
/packages/*/coverage

# production
/apps/*/build*
/packages/*/build*
/apps/frontend/public/*unsupported-browser*

# editors
.vscode
.vim
