services:
  dynamodb-local:
    image: amazon/dynamodb-local:latest
    container_name: dynamodb-local
    ports:
      - '8000:8000'
    command: '-jar DynamoDBLocal.jar -sharedDb'
    healthcheck:
      test: ['CMD-SHELL', 'curl -f http://localhost:8000 || exit 1']
      interval: 10s
      timeout: 5s
      retries: 5
