/* istanbul ignore file */
import { Results, Squidex } from '@asap-hub/squidex';
import { Migration } from '@asap-hub/server-common';

export default class MoveResearchOutputTextToDescription extends Migration {
  up = async (): Promise<void> => {};
  down = async (): Promise<void> => {};
}
