# https://gitlab.com/yldio/asap-hub/-/ci/lint

variables:
  SQUIDEX_SYNC_DOCKER_IMAGE: $CI_REGISTRY/$CI_PROJECT_PATH/squidex-utils:latest

setup:squidex-image:
  image: docker:19.03.12
  stage: .pre
  services:
    - docker:19.03.12-dind
  script:
    - cd dev
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $SQUIDEX_SYNC_DOCKER_IMAGE .
    - docker push $SQUIDEX_SYNC_DOCKER_IMAGE
  only:
    refs:
      - master
    changes:
      - Dockerfile

.tmpl:sync: &tmpl_sync
  image: $SQUIDEX_SYNC_DOCKER_IMAGE
  before_script:
    - ./ci/config-squidex-rules.sh
  script:
    - sq config add asap-hub $SQUIDEX_CLIENT_ID $SQUIDEX_CLIENT_SECRET -u $SQUIDEX_BASE_URL
    - sq config use asap-hub
    - sq sync in dev/squidex
  stage: prepare
  rules:
    - if: $CI_COMMIT_BRANCH == 'master'

sync:squidex:dev:
  <<: *tmpl_sync
  rules:
    - if: $CI_COMMIT_BRANCH == 'master'
      when: manual
      allow_failure: true

sync:squidex:production:
  <<: *tmpl_sync
  environment:
    name: production
