deploy:ses:master:
  rules:
    - if: $CI_COMMIT_BRANCH == 'master'
  script:
    - yarn workspace @asap-hub/messages deploy
  stage: deploy-prod
  dependencies:
    - build:ts
  variables:
    SLS_STAGE: production
    APP_ORIGIN: $ASAP_APP_URL
