name: Build Pipeline

on:
  pull_request:
    types: [opened, synchronize]

env:
  NODE_OPTIONS: '--max_old_space_size=4096'
jobs:
  setup:
    uses: ./.github/workflows/setup.yml
  test-unit:
    permissions:
      packages: read
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/yldio/node:14.19-alpine
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Jest cache
        uses: actions/cache@v2
        id: jest-cache
        with:
          path: |
            .jest-cache/
          key: jest-cache
      - name: Test
        run: |
          yarn test --coverage --maxWorkers=2
          yarn codecov
  test-integration:
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: AWS
        password: ${{ secrets.AWS_ECR_PASSWORD }}
    env:
      SQUIDEX_APP_NAME: ${{ needs.setup.outputs.pr-number || github.head_ref }}-${{ github.run_id }}-github
      SQUIDEX_CLIENT_ID: ${{ secrets.SQUIDEX_CLIENT_ID_TEST }}
      SQUIDEX_CLIENT_SECRET: ${{ secrets.SQUIDEX_CLIENT_SECRET_TEST }}
      SQUIDEX_BASE_URL: ${{ secrets.SQUIDEX_BASE_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        run: python ci/integration/scripts/create-app.py
      - name: Test
        run: yarn test:integration
      - name: Delete App
        if: always()
        run: python ci/integration/scripts/delete-app.py
  build:
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: AWS
        password: ${{ secrets.AWS_ECR_PASSWORD }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Get Algolia App id
        id: get-algolia-app-id
        run: |
          REACT_APP_ALGOLIA_APP_ID=$(aws ssm get-parameter --name "algolia-app-id-dev" --query Parameter.Value --output text)
          echo "::set-output name=id::$REACT_APP_ALGOLIA_APP_ID"
      - name: Build
        env:
          NODE_ENV: 'production'
          ASAP_HOSTNAME: 'hub.asap.science'
          ASAP_API_URL: 'https://api-${ needs.setup.outputs.pr-number }.${ASAP_HOSTNAME}'
          ASAP_APP_URL: 'https://${ needs.setup.outputs.pr-number }.${ASAP_HOSTNAME}'
          ALGOLIA_INDEX: 'asap-hub_CI-${ needs.setup.outputs.pr-number }'
          REACT_APP_ALGOLIA_APP_ID: ${{ steps.get-algolia-app-id.outputs.id }}
          REACT_APP_ALGOLIA_INDEX: $ALGOLIA_INDEX
          REACT_APP_API_BASE_URL: 'http://api-${ needs.setup.outputs.pr-number }.${ASAP_HOSTNAME}'
          REACT_APP_ENVIRONMENT: 'development'
          REACT_APP_RELEASE: '${GITHUB_RUN_ID}-dev'
          REACT_APP_SENTRY_DSN: ''
        run: |
          yarn build
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-build
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: build-output-${{ github.sha }}
  rebuild:
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: AWS
        password: ${{ secrets.AWS_ECR_PASSWORD }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Re-Build
        run: |
          yarn rebuild
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-rebuild
        with:
          path: |
            .yarn/unplugged/
          key: rebuild-output-${{ github.sha }}
  check:
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: AWS
        password: ${{ secrets.AWS_ECR_PASSWORD }}
    strategy:
      fail-fast: false
      matrix:
        script: [constraints, 'lint:format', 'check:packages']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Check
        run: |
          yarn ${{ matrix.script }}
  build-sls-package:
    needs: [setup, build, rebuild]
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: AWS
        password: ${{ secrets.AWS_ECR_PASSWORD }}
    env:
      SLS_STAGE: ${{ needs.setup.outputs.pr-number }}
      NODE_ENV: 'production'
      ASAP_HOSTNAME: 'hub.asap.science'
      ASAP_API_URL: 'https://api-${{ needs.setup.outputs.pr-number }}.hub.asap.science'
      ASAP_APP_URL: 'https://${{ needs.setup.outputs.pr-number }}.hub.asap.science'
      ALGOLIA_INDEX: 'asap-hub_outputs_CI-${{ needs.setup.outputs.pr-number }}'
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_ACM_CERTIFICATE_ARN: ${{ secrets.AWS_ACM_CERTIFICATE_ARN }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      SQUIDEX_APP_NAME: ${{ needs.setup.outputs.pr-number }}
      SQUIDEX_CLIENT_ID: ${{ secrets.SQUIDEX_CLIENT_ID_TEST }}
      SQUIDEX_CLIENT_SECRET: ${{ secrets.SQUIDEX_CLIENT_SECRET_TEST }}
      LIGHTSTEP_TOKEN: ${{ secrets.LIGHTSTEP_TOKEN }}
      SQUIDEX_BASE_URL: ${{ secrets.SQUIDEX_BASE_URL }}
      SQUIDEX_SHARED_SECRET_TEST: ${{ secrets.SQUIDEX_SHARED_SECRET_TEST }}
      CURRENT_REVISION: ${{ github.sha }}
      SENTRY_DSN_API: ${{ secrets.SENTRY_DSN_API }}
      SENTRY_DSN_CALENDAR: ${{ secrets.SENTRY_DSN_CALENDAR }}
      SENTRY_DSN_USER_INVITE: ${{ secrets.SENTRY_DSN_USER_INVITE }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-build
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: build-output-${{ github.sha }}
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-rebuild
        with:
          path: |
            .yarn/unplugged/
          key: rebuild-output-${{ github.sha }}
      - name: Generate Package
        run: |
          yarn sls package
      - uses: actions/upload-artifact@v2
        with:
          name: sls-package
          path: '.serverless'
          retention-days: 14
  bundlewatch:
    needs: [setup, build]
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: AWS
        password: ${{ secrets.AWS_ECR_PASSWORD }}
    env:
      CI_REPO_OWNER: ${{ github.repository_owner }}
      CI_REPO: ${{ github.repository }}
      CI_COMMIT_SHA: ${{ github.sha }}
      CI_BRANCH: ${{ github.head_ref }}
      BUNDLEWATCH_GITHUB_TOKEN: ${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-build
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: build-output-${{ github.sha }}
      - name: Bundle watch
        run: |
          CI_REPO_NAME=$(echo $GITHUB_REPOSITORY | awk -F / '{print $2}')
          yarn bundlewatch
  upload-build-artifacts:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-build
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: build-output-${{ github.sha }}
      - uses: actions/upload-artifact@v2
        with:
          name: build-output
          path: apps/**/build*
          retention-days: 14
  test-build-output:
    needs: [setup, build]
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: AWS
        password: ${{ secrets.AWS_ECR_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-build
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: build-output-${{ github.sha }}
      - name: Test output
        run: |
          yarn run test:build-output
  test-browser:
    needs: [setup, rebuild]
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:focal
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-rebuild
        with:
          path: |
            .yarn/unplugged/
          key: rebuild-output-${{ github.sha }}
      - name: Install Playwright
        run: |
          yarn workspace @asap-hub/react-components run playwright install --with-deps
      - name: Test browser
        run: |
          yarn run test:browser
