name: Build Pipeline

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - master

env:
  NODE_OPTIONS: '--max_old_space_size=4096'
  ASAP_HOSTNAME: 'hub.asap.science'
jobs:
  setup:
    uses: ./.github/workflows/setup.yml
  test-unit:
    permissions:
      packages: read
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Jest cache
        uses: actions/cache@v2
        id: jest-cache
        with:
          path: |
            .jest-cache/
          key: jest-cache
      - name: Test
        run: |
          yarn test --coverage --maxWorkers=2
          yarn codecov
  test-integration:
    permissions:
      packages: read
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      SQUIDEX_APP_NAME: ${{ needs.setup.outputs.pr-number || github.head_ref }}-${{ github.run_id }}-github
      SQUIDEX_CLIENT_ID: ${{ secrets.SQUIDEX_CLIENT_ID_TEST }}
      SQUIDEX_CLIENT_SECRET: ${{ secrets.SQUIDEX_CLIENT_SECRET_TEST }}
      SQUIDEX_BASE_URL: ${{ secrets.SQUIDEX_BASE_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup app
        run: python ci/integration/scripts/create-app.py
      - name: Test
        run: yarn test:integration
      - name: Delete app
        if: always()
        run: python ci/integration/scripts/delete-app.py
  pre-build:
    permissions:
      packages: read
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Pre-Build
        run: |
          yarn prebuild
      - name: Cache prebuild output
        uses: actions/cache@v2
        id: restore-prebuild
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: prebuild-output-${{ github.sha }}
  build:
    permissions:
      packages: read
    needs: [setup, pre-build]
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Get Algolia app Id
        id: get-algolia-app-id
        run: |
          REACT_APP_ALGOLIA_APP_ID=$(aws ssm get-parameter --name "algolia-app-id-dev" --query Parameter.Value --output text)
          echo "::set-output name=id::$REACT_APP_ALGOLIA_APP_ID"
      - name: Cache build output
        uses: actions/cache@v2
        id: restore-prebuild
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: prebuild-output-${{ github.sha }}
      - name: Build
        env:
          REACT_APP_ALGOLIA_APP_ID: ${{ steps.get-algolia-app-id.outputs.id }}
          REACT_APP_ALGOLIA_INDEX: 'asap-hub_CI-${{ github.event.number }}'
          REACT_APP_API_BASE_URL: 'https://api-${{ needs.setup.outputs.pr-number }}-github.${{ env.ASAP_HOSTNAME }}'
          REACT_APP_ENVIRONMENT: 'development'
          REACT_APP_RELEASE: '${{ github.run_id }}-dev'
          REACT_APP_SENTRY_DSN: ''
          REACT_APP_GTM_CONTAINER_ID: ${{ secrets.REACT_APP_GTM_CONTAINER_ID}}
        run: |
          yarn build
      - name: Cache build output
        uses: actions/cache@v2
        id: restore-build
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: build-output-${{ github.sha }}
  typecheck:
    permissions:
      packages: read
    needs: [setup, pre-build]
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache build output
        uses: actions/cache@v2
        id: restore-prebuild
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: prebuild-output-${{ github.sha }}
      - name: TypeCheck
        run: |
          yarn typecheck
  rebuild:
    permissions:
      packages: read
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Re-Build
        run: |
          yarn rebuild
      - name: Cache build output
        uses: actions/cache@v2
        id: restore-rebuild
        with:
          path: |
            .yarn/unplugged/
          key: rebuild-output-${{ github.sha }}
  check:
    permissions:
      packages: read
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        script: [constraints, 'lint:format', 'check:packages']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Check
        run: |
          yarn ${{ matrix.script }}
  build-sls-package:
    permissions:
      packages: read
    needs: [setup, pre-build, rebuild]
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      SLS_STAGE: '${{ needs.setup.outputs.pr-number }}-github'
      NODE_ENV: 'production'
      ASAP_API_URL: 'https://api-${{ needs.setup.outputs.pr-number }}-github.hub.asap.science'
      ASAP_APP_URL: 'https://${{ needs.setup.outputs.pr-number }}-github.hub.asap.science'
      ALGOLIA_INDEX: 'asap-hub_CI-${{ needs.setup.outputs.pr-number }}'

      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_ACM_CERTIFICATE_ARN: ${{ secrets.AWS_ACM_CERTIFICATE_ARN }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      SQUIDEX_APP_NAME: '${{ needs.setup.outputs.pr-number }}-github'
      SQUIDEX_CLIENT_ID: ${{ secrets.SQUIDEX_CLIENT_ID_TEST }}
      SQUIDEX_CLIENT_SECRET: ${{ secrets.SQUIDEX_CLIENT_SECRET_TEST }}
      SQUIDEX_SHARED_SECRET: ${{ secrets.SQUIDEX_SHARED_SECRET_TEST }}
      LIGHTSTEP_TOKEN: ${{ secrets.LIGHTSTEP_TOKEN }}
      SQUIDEX_BASE_URL: ${{ secrets.SQUIDEX_BASE_URL }}
      CURRENT_REVISION: ${{ github.sha }}
      SENTRY_DSN_API: ${{ secrets.SENTRY_DSN_API }}
      SENTRY_DSN_CALENDAR: ${{ secrets.SENTRY_DSN_CALENDAR }}
      SENTRY_DSN_USER_INVITE: ${{ secrets.SENTRY_DSN_USER_INVITE }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache build output
        uses: actions/cache@v2
        id: restore-prebuild
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: prebuild-output-${{ github.sha }}
      - name: Cache build output
        uses: actions/cache@v2
        id: restore-rebuild
        with:
          path: |
            .yarn/unplugged/
          key: rebuild-output-${{ github.sha }}
      - name: Generate package
        run: |
          yarn sls package --package sls-package
      - uses: actions/upload-artifact@v2
        with:
          name: sls-package
          path: 'sls-package'
          retention-days: 1
  bundlewatch:
    permissions:
      packages: read
    needs: [setup, build]
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      CI_REPO_OWNER: ${{ github.repository_owner }}
      CI_REPO: ${{ github.repository }}
      CI_COMMIT_SHA: ${{ github.sha }}
      CI_BRANCH: ${{ github.head_ref }}
      BUNDLEWATCH_GITHUB_TOKEN: ${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache build output
        uses: actions/cache@v2
        id: restore-build
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: build-output-${{ github.sha }}
      - name: Bundle watch
        run: |
          CI_REPO_NAME=$(echo $GITHUB_REPOSITORY | awk -F / '{print $2}')
          yarn bundlewatch
  test-build-output:
    permissions:
      packages: read
    needs: [setup, build]
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache build output
        uses: actions/cache@v2
        id: restore-build
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: build-output-${{ github.sha }}
      - name: Test output
        run: |
          yarn run test:build-output
  test-browser:
    needs: [setup, rebuild]
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:focal
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache build output
        uses: actions/cache@v2
        id: restore-rebuild
        with:
          path: |
            .yarn/unplugged/
          key: rebuild-output-${{ github.sha }}
      - name: Install Playwright
        run: |
          yarn workspace @asap-hub/react-components run playwright install
      - name: Test browser
        run: |
          yarn run test:browser
  prepare-squidex:
    permissions:
      packages: read
    needs: setup
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      SQUIDEX_APP_NAME: ${{ needs.setup.outputs.pr-number }}-github
      SQUIDEX_CLIENT_ID: ${{ secrets.SQUIDEX_CLIENT_ID_TEST }}
      SQUIDEX_CLIENT_SECRET: ${{ secrets.SQUIDEX_CLIENT_SECRET_TEST }}
      SQUIDEX_BASE_URL: ${{ secrets.SQUIDEX_BASE_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup app
        if: ${{ github.event.action == 'opened' }}
        run: python ci/integration/scripts/create-app.py
      - name: Configure AWS credentials
        if: ${{ github.event.action == 'opened' }}
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Import data
        if: ${{ github.event.action == 'opened' }}
        run: |
          MOST_RECENT_BACKUP=$(aws s3api list-objects-v2 --bucket "asap-hub-dev-data-backup" --query 'sort_by(Contents, &LastModified)[-1].Key' --output=text)
          aws s3api get-object --bucket "asap-hub-dev-data-backup" --key $MOST_RECENT_BACKUP  $MOST_RECENT_BACKUP
          tar -xf $MOST_RECENT_BACKUP
          ./ci/config-squidex-rules.sh
          FIRST_RUN="true" ./ci/import-squidex-data.sh
      - name: Update schema
        uses: ./.github/actions/squidex-sync
        with:
          squidex-app-name: ${{ env.SQUIDEX_APP_NAME }}
          squidex-client-id: ${{ env.SQUIDEX_CLIENT_ID }}
          squidex-client-secret: ${{ env.SQUIDEX_CLIENT_SECRET }}
          squidex-base-url: ${{ env.SQUIDEX_BASE_URL }}

  verify-schema:
    permissions:
      packages: read
    needs: [setup, prepare-squidex, rebuild]
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      SQUIDEX_APP_NAME: ${{ needs.setup.outputs.pr-number }}-github
      SQUIDEX_CLIENT_ID: ${{ secrets.SQUIDEX_CLIENT_ID_TEST }}
      SQUIDEX_CLIENT_SECRET: ${{ secrets.SQUIDEX_CLIENT_SECRET_TEST }}
      SQUIDEX_BASE_URL: ${{ secrets.SQUIDEX_BASE_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache build output
        uses: actions/cache@v2
        id: restore-rebuild
        with:
          path: |
            .yarn/unplugged/
          key: rebuild-output-${{ github.sha }}
      - name: Verify
        run: |
          yarn schema:update
          git diff --exit-code ./apps/asap-server/src/autogenerated-gql/
  deploy-sls:
    needs: [setup, build, build-sls-package, test-unit, test-integration]
    permissions:
      packages: read
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      NODE_ENV: production
      NODE_OPTIONS: '--max_old_space_size=4096'
      SLS_STAGE: ${{ needs.setup.outputs.pr-number }}-github
      SQUIDEX_APP_NAME: ${{ needs.setup.outputs.pr-number }}-github
      SQUIDEX_CLIENT_ID: ${{ secrets.SQUIDEX_TEST_CLIENT_ID }}
      SQUIDEX_CLIENT_SECRET: ${{ secrets.SQUIDEX_TEST_CLIENT_SECRET }}
      SQUIDEX_SHARED_SECRET: ${{ secrets.SQUIDEX_SHARED_SECRET_TEST }}
      ASAP_API_URL: 'https://api-${{ needs.setup.outputs.pr-number }}-github.hub.asap.science'
      ASAP_APP_URL: 'https://${{ needs.setup.outputs.pr-number }}-github.hub.asap.science'
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_ACM_CERTIFICATE_ARN: ${{ secrets.AWS_ACM_CERTIFICATE_ARN }}
      ALGOLIA_INDEX: 'asap-hub_CI-${{ needs.setup.outputs.pr-number }}'
      AWS_REGION: ${{ secrets.AWS_REGION }}
      LIGHTSTEP_TOKEN: ${{ secrets.LIGHTSTEP_TOKEN }}
      SQUIDEX_BASE_URL: ${{ secrets.SQUIDEX_BASE_URL }}
      CURRENT_REVISION: ${{ github.sha }}
      SENTRY_DSN_API: ${{ secrets.SENTRY_DSN_API }}
      SENTRY_DSN_CALENDAR: ${{ secrets.SENTRY_DSN_CALENDAR }}
      SENTRY_DSN_USER_INVITE: ${{ secrets.SENTRY_DSN_USER_INVITE }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache build output
        uses: actions/cache@v2
        id: restore-build
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: build-output-${{ github.sha }}
      - name: Cache build output
        uses: actions/cache@v2
        id: restore-rebuild
        with:
          path: |
            .yarn/unplugged/
          key: rebuild-output-${{ github.sha }}
      - uses: actions/download-artifact@v2
        with:
          name: sls-package
          path: 'sls-package'
      - name: Deploy
        run: |
          yarn sls deploy --package sls-package --verbose

  verify-sls:
    needs: [setup, deploy-sls]
    permissions:
      packages: read
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      ASAP_API_URL: 'https://api-${{ needs.setup.outputs.pr-number }}-github.hub.asap.science'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test
        run: |
          yarn test:e2e
  e2e-test:
    needs: [setup, deploy-sls]
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:focal
    env:
      ASAP_APP_URL: 'https://${{ needs.setup.outputs.pr-number }}-github.hub.asap.science'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache build output
        uses: actions/cache@v2
        id: restore-rebuild
        with:
          path: |
            .yarn/unplugged/
          key: rebuild-output-${{ github.sha }}
      - name: Install Playwright
        run: |
          yarn workspace @asap-hub/e2e-tests run playwright install
      - name: Test
        run: |
          yarn workspace @asap-hub/e2e-tests run playwright test
  notify_failure:
    runs-on: ubuntu-latest
    needs:
      [
        setup,
        test-unit,
        test-integration,
        build,
        rebuild,
        check,
        build-sls-package,
        bundlewatch,
        test-build-output,
        test-browser,
        prepare-squidex,
        verify-schema,
        deploy-sls,
        verify-sls,
        e2e-test,
      ]
    if: ${{ failure() }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: ./.github/actions/slack/
        with:
          message: 'Build Failed on GitHub: ${{ needs.setup.outputs.pr-number || github.head_ref }}'
          webhook: ${{ secrets.SLACK_WEBHOOK }}
          status: failure
  build-pipeline-success:
    runs-on: ubuntu-latest
    needs:
      [
        setup,
        test-unit,
        test-integration,
        build,
        rebuild,
        check,
        build-sls-package,
        bundlewatch,
        test-build-output,
        test-browser,
        prepare-squidex,
        verify-schema,
        deploy-sls,
        verify-sls,
        e2e-test,
      ]
    if: ${{ success() }}
    steps:
      - name: Print success
        run: |
          echo "Build Successful."
