name: Build Pipeline

on:
  pull_request:
    types: [opened, synchronize]

env:
  NODE_OPTIONS: '--max_old_space_size=4096'
jobs:
  setup:
    uses: ./.github/workflows/setup.yml
  echo:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Start
        run: |
          echo "Started ${{ needs.setup.outputs.pr-number }}"
          echo "integration image ${{ needs.setup.outputs.integration-image-name }}"
          echo "squidex image ${{ needs.setup.outputs.squidex-image-name }}"
          echo "run id: ${{ github.run_id }}"
          echo "run number: ${{ github.run_number }}"
          echo "run attempt: ${{ github.run_attempt }}"
          echo "branch name: ${{ github.head_ref }}"
          echo "event name: ${{ github.event_name }}"

      - name: Is Pull Request updated
        if: ${{ github.event_name == 'pull_request' && github.event.action == 'synchronize' }}
        run: |
          echo "This is a pull request which has been updated"
      - name: Is Pull Request opened
        if: ${{ github.event_name == 'pull_request' && github.event.action == 'opened' }}
        run: |
          echo "This is a pull request which has been opened"
  test-unit:
    permissions:
      packages: read
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Jest cache
        uses: actions/cache@v2
        id: jest-cache
        with:
          path: |
            .jest-cache/
          key: jest-cache
      - name: Test
        run: |
          yarn test --coverage --maxWorkers=2
          yarn codecov
  test-integration:
    permissions:
      packages: read
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      SQUIDEX_APP_NAME: ${{ needs.setup.outputs.pr-number || github.head_ref }}-${{ github.run_id }}-github
      SQUIDEX_CLIENT_ID: ${{ secrets.SQUIDEX_CLIENT_ID_TEST }}
      SQUIDEX_CLIENT_SECRET: ${{ secrets.SQUIDEX_CLIENT_SECRET_TEST }}
      SQUIDEX_BASE_URL: ${{ secrets.SQUIDEX_BASE_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        run: python ci/integration/scripts/create-app.py
      - name: Test
        run: yarn test:integration
      - name: Delete App
        if: always()
        run: python ci/integration/scripts/delete-app.py
  build:
    permissions:
      packages: read
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Get Algolia App id
        id: get-algolia-app-id
        run: |
          REACT_APP_ALGOLIA_APP_ID=$(aws ssm get-parameter --name "algolia-app-id-dev" --query Parameter.Value --output text)
          echo "::set-output name=id::$REACT_APP_ALGOLIA_APP_ID"
      - name: Build
        env:
          NODE_ENV: 'production'
          ASAP_HOSTNAME: 'hub.asap.science'
          ASAP_API_URL: 'https://api-${ needs.setup.outputs.pr-number }.${ASAP_HOSTNAME}'
          ASAP_APP_URL: 'https://${ needs.setup.outputs.pr-number }.${ASAP_HOSTNAME}'
          ALGOLIA_INDEX: 'asap-hub_CI-${ needs.setup.outputs.pr-number }'
          REACT_APP_ALGOLIA_APP_ID: ${{ steps.get-algolia-app-id.outputs.id }}
          REACT_APP_ALGOLIA_INDEX: $ALGOLIA_INDEX
          REACT_APP_API_BASE_URL: 'http://api-${ needs.setup.outputs.pr-number }.${ASAP_HOSTNAME}'
          REACT_APP_ENVIRONMENT: 'development'
          REACT_APP_RELEASE: '${GITHUB_RUN_ID}-dev'
          REACT_APP_SENTRY_DSN: ''
        run: |
          yarn build
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-build
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: build-output-${{ github.sha }}
  rebuild:
    permissions:
      packages: read
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Re-Build
        run: |
          yarn rebuild
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-rebuild
        with:
          path: |
            .yarn/unplugged/
          key: rebuild-output-${{ github.sha }}
  check:
    permissions:
      packages: read
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        script: [constraints, 'lint:format', 'check:packages']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Check
        run: |
          yarn ${{ matrix.script }}
  build-sls-package:
    permissions:
      packages: read
    needs: [setup, build, rebuild]
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      SLS_STAGE: ${{ needs.setup.outputs.pr-number }}
      NODE_ENV: 'production'
      ASAP_HOSTNAME: 'hub.asap.science'
      ASAP_API_URL: 'https://api-${{ needs.setup.outputs.pr-number }}.hub.asap.science'
      ASAP_APP_URL: 'https://${{ needs.setup.outputs.pr-number }}.hub.asap.science'
      ALGOLIA_INDEX: 'asap-hub_outputs_CI-${{ needs.setup.outputs.pr-number }}'
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_ACM_CERTIFICATE_ARN: ${{ secrets.AWS_ACM_CERTIFICATE_ARN }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      SQUIDEX_APP_NAME: ${{ needs.setup.outputs.pr-number }}
      SQUIDEX_CLIENT_ID: ${{ secrets.SQUIDEX_CLIENT_ID_TEST }}
      SQUIDEX_CLIENT_SECRET: ${{ secrets.SQUIDEX_CLIENT_SECRET_TEST }}
      LIGHTSTEP_TOKEN: ${{ secrets.LIGHTSTEP_TOKEN }}
      SQUIDEX_BASE_URL: ${{ secrets.SQUIDEX_BASE_URL }}
      SQUIDEX_SHARED_SECRET_TEST: ${{ secrets.SQUIDEX_SHARED_SECRET_TEST }}
      CURRENT_REVISION: ${{ github.sha }}
      SENTRY_DSN_API: ${{ secrets.SENTRY_DSN_API }}
      SENTRY_DSN_CALENDAR: ${{ secrets.SENTRY_DSN_CALENDAR }}
      SENTRY_DSN_USER_INVITE: ${{ secrets.SENTRY_DSN_USER_INVITE }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-build
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: build-output-${{ github.sha }}
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-rebuild
        with:
          path: |
            .yarn/unplugged/
          key: rebuild-output-${{ github.sha }}
      - name: Generate Package
        run: |
          yarn sls package
      - uses: actions/upload-artifact@v2
        with:
          name: sls-package
          path: '.serverless'
          retention-days: 14
  bundlewatch:
    permissions:
      packages: read
    needs: [setup, build]
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    env:
      CI_REPO_OWNER: ${{ github.repository_owner }}
      CI_REPO: ${{ github.repository }}
      CI_COMMIT_SHA: ${{ github.sha }}
      CI_BRANCH: ${{ github.head_ref }}
      BUNDLEWATCH_GITHUB_TOKEN: ${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-build
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: build-output-${{ github.sha }}
      - name: Bundle watch
        run: |
          CI_REPO_NAME=$(echo $GITHUB_REPOSITORY | awk -F / '{print $2}')
          yarn bundlewatch
  upload-build-artifacts:
    permissions:
      packages: read
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-build
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: build-output-${{ github.sha }}
      - uses: actions/upload-artifact@v2
        with:
          name: build-output
          path: apps/**/build*
          retention-days: 14
  test-build-output:
    permissions:
      packages: read
    needs: [setup, build]
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-build
        with:
          path: |
            apps/**/build*
            packages/**/build*
          key: build-output-${{ github.sha }}
      - name: Test output
        run: |
          yarn run test:build-output
  test-browser:
    permissions:
      packages: read
    needs: [setup, rebuild]
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:focal
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-rebuild
        with:
          path: |
            .yarn/unplugged/
          key: rebuild-output-${{ github.sha }}
      - name: Install Playwright
        run: |
          yarn workspace @asap-hub/react-components run playwright install --with-deps
      - name: Test browser
        run: |
          yarn run test:browser
  prepare-squidex:
    needs: setup
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: AWS
        password: ${{ secrets.AWS_ECR_PASSWORD }}
    env:
      SQUIDEX_APP_NAME: ${{ needs.setup.outputs.pr-number }}-github
      SQUIDEX_CLIENT_ID: ${{ secrets.SQUIDEX_CLIENT_ID_TEST }}
      SQUIDEX_CLIENT_SECRET: ${{ secrets.SQUIDEX_CLIENT_SECRET_TEST }}
      SQUIDEX_BASE_URL: ${{ secrets.SQUIDEX_BASE_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup App
        if: ${{ github.event.action == 'opened' }}
        run: python ci/integration/scripts/create-app.py
      - name: Configure AWS credentials
        if: ${{ github.event.action == 'opened' }}
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Import data
        if: ${{ github.event.action == 'opened' }}
        run: |
          MOST_RECENT_BACKUP=$(aws s3api list-objects-v2 --bucket "asap-hub-dev-data-backup" --query 'sort_by(Contents, &LastModified)[-1].Key' --output=text)
          aws s3api get-object --bucket "asap-hub-dev-data-backup" --key $MOST_RECENT_BACKUP  $MOST_RECENT_BACKUP
          tar -xf $MOST_RECENT_BACKUP
          ./ci/config-squidex-rules.sh
          FIRST_RUN="true" ./ci/import-squidex-data.sh
      - name: update schema
        run: |
          sq config add $SQUIDEX_APP_NAME $SQUIDEX_CLIENT_ID $SQUIDEX_CLIENT_SECRET -u $SQUIDEX_BASE_URL
          sq config use $SQUIDEX_APP_NAME
          sq sync in packages/squidex/schema -t schemas -t rules --delete
  verify-schema:
    needs: [setup, prepare-squidex, rebuild]
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.integration-image-name }}
      credentials:
        username: AWS
        password: ${{ secrets.AWS_ECR_PASSWORD }}
    env:
      SQUIDEX_APP_NAME: ${{ needs.setup.outputs.pr-number }}-github
      SQUIDEX_CLIENT_ID: ${{ secrets.SQUIDEX_CLIENT_ID_TEST }}
      SQUIDEX_CLIENT_SECRET: ${{ secrets.SQUIDEX_CLIENT_SECRET_TEST }}
      SQUIDEX_BASE_URL: ${{ secrets.SQUIDEX_BASE_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache Build Output
        uses: actions/cache@v2
        id: restore-rebuild
        with:
          path: |
            .yarn/unplugged/
          key: rebuild-output-${{ github.sha }}
      - name: Verify
        run: |
          yarn schema:update
          git diff --exit-code ./apps/asap-server/src/autogenerated-gql/
  # notify_failure:
  #   runs-on: ubuntu-latest
  #   needs: [sls_teardown, delete_algolia_indice]
  #   if: failure()
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v2
  #     - uses: ./.github/actions/slack/
  #       with:
  #         message: PR Failed
  #         webhook: ${{ secrets.SLACK_WEBHOOK }}
