name: DEV - Sync Algolia with squidex
on:
  workflow_dispatch:
jobs:
  sync_dev_index:
    runs-on: ubuntu-18.04
    env:
      SQUIDEX_CLIENT_ID: ${{ secrets.SQUIDEX_CLIENT_ID_DEV }}
      SQUIDEX_CLIENT_SECRET: ${{ secrets.SQUIDEX_CLIENT_SECRET_DEV }}
      SQUIDEX_APP_NAME: asap-hub-dev
      SQUIDEX_BASE_URL: https://cloud.squidex.io
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: 'us-east-1'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: yarn build
      - name: Download the Research Outputs
        run: yarn ro:export
      - name: Setup Environment Variables
        run: |
          echo "ALGOLIA_APP_ID=$(aws ssm get-parameter --name 'algolia-app-id-dev' --query Parameter.Value --output text)" >> $GITHUB_ENV
          echo "ALGOLIA_API_KEY=$(aws ssm get-parameter --name 'algolia-api-key-ci-dev' --query Parameter.Value --output text)" >> $GITHUB_ENV
          echo "::add-mask::$(aws ssm get-parameter --name 'algolia-api-key-ci-dev' --query Parameter.Value --output text)"
          echo "ALGOLIA_RESEARCH_OUTPUT_INDEX=asap-hub_research_outputs_dev" >> $GITHUB_ENV
          echo "ALGOLIA_RESEARCH_OUTPUT_INDEX_RESTORE=asap-hub_research_outputs_dev_restore" >> $GITHUB_ENV
      - name: Copy index settings to a temporary index
        run: yarn run algolia transferindexconfig -a $ALGOLIA_APP_ID -k $ALGOLIA_API_KEY -n $ALGOLIA_RESEARCH_OUTPUT_INDEX -d $ALGOLIA_APP_ID -y $ALGOLIA_API_KEY -i $ALGOLIA_RESEARCH_OUTPUT_INDEX_RESTORE
      - name: Import records into the temporary index
        run: yarn run algolia import -s ./ro.json -a $ALGOLIA_APP_ID -k $ALGOLIA_API_KEY -n $ALGOLIA_RESEARCH_OUTPUT_INDEX_RESTORE -t ./apps/asap-server/scripts/algolia-transformation.js
      - name: Move temporary index to the prod one
        run: yarn algolia:move-index -a $ALGOLIA_APP_ID -k $ALGOLIA_API_KEY -n $ALGOLIA_RESEARCH_OUTPUT_INDEX_RESTORE -i $ALGOLIA_RESEARCH_OUTPUT_INDEX
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_MESSAGE: 'Algolia Dev sync complete'
          SLACK_ICON: https://cdn0.iconfinder.com/data/icons/artificial-intelligence-and-machine-learning-glyph/48/AI-Icon-17-128.png
          SLACK_USERNAME: ASAP robot
