name: PR Env - Sync Algolia with squidex V2
on:
  pull_request:
#  workflow_dispatch:
#    inputs:
#      pr-number:
#        required: true
#        type: string
#        description: The PR number to run for
#      entity:
#        required: true
#        type: choice
#        description: Choose which entity to sync
#        options:
#          - users
#          - research-outputs
#          - all
jobs:
  sync_env_index:
    uses: ./.github/workflows/algolia-sync-v2.yml
    with:
      entity: 'all'
      ALGOLIA_INDEX: 'asap-hub_CI-${{github.event.number}}'
      SQUIDEX_APP_NAME: ${{ github.event.number }}
      SSM_ALGOLIA_APP_ID_NAME: 'algolia-app-id-dev'
      SSM_ALGOLIA_API_KEY_NAME: 'algolia-api-key-ci-dev'
    secrets:
      SQUIDEX_CLIENT_ID: ${{ secrets.SQUIDEX_CLIENT_ID_TEST }}
      SQUIDEX_CLIENT_SECRET: ${{ secrets.SQUIDEX_CLIENT_SECRET_TEST }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
