name: Remove environment
on:
  pull_request:
    types: [closed]
  workflow_dispatch:
    inputs:
      prNumber:
        required: true
        type: string
        description: Choose which PR number to destroy
jobs:
  setup:
    runs-on: ubuntu-latest
    env:
      PR_NUMBER: ${{ github.event.number || github.event.inputs.prNumber }}
    outputs:
      pr-number: ${{ steps.build-step.outputs.pr-number }}
      image-name: ${{ steps.image-name.outputs.image-name }}
    steps:
      - name: Build
        id: build-step
        run: |
          echo "::set-output name=pr-number::$PR_NUMBER"
      - name: Checkout
        uses: actions/checkout@v2
      - name: Generate Image Name
        uses: ./.github/actions/ecr-registry
        id: image-name
        with:
          repository: asap-hub/node-python-sq
  sls_teardown:
    needs: setup
    runs-on: ubuntu-18.04
    container:
      image: ${{ needs.setup.outputs.image-name }}
      credentials:
        username: AWS
        password: ${{ secrets.AWS_ECR_PASSWORD }}
    env:
      SLS_STAGE: ${{ needs.setup.outputs.pr-number }}
      NODE_ENV: 'production'
      ASAP_HOSTNAME: 'hub.asap.science'
      ASAP_API_URL: 'https://api-${{ needs.setup.outputs.pr-number }}.hub.asap.science'
      ASAP_APP_URL: 'https://${{ needs.setup.outputs.pr-number }}.hub.asap.science'
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_ACM_CERTIFICATE_ARN: ${{ secrets.AWS_ACM_CERTIFICATE_ARN }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      SQUIDEX_APP_NAME: ${{ needs.setup.outputs.pr-number }}
      SQUIDEX_CLIENT_ID: ${{ secrets.SQUIDEX_CLIENT_ID_TEST }}
      SQUIDEX_CLIENT_SECRET: ${{ secrets.SQUIDEX_CLIENT_SECRET_TEST }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Rebuild dependencies
        run: yarn rebuild
      - name: Remove CF Stack
        if: ${{ env.SLS_STAGE != 'production' && env.SLS_STAGE != 'dev' }}
        run: yarn sls remove --verbose
        continue-on-error: true
      - name: Delete PR Squidex App
        run: python ci/integration/scripts/delete-app.py

  delete_algolia_indice:
    needs: setup
    runs-on: ubuntu-18.04
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: 'us-east-1'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Fetch the Algolia keys
        run: |
          echo "ALGOLIA_APP_ID=$(aws ssm get-parameter --name 'algolia-app-id-dev' --query Parameter.Value --output text)" >> $GITHUB_ENV
          echo "ALGOLIA_API_KEY=$(aws ssm get-parameter --name 'algolia-api-key-ci-dev' --query Parameter.Value --output text)" >> $GITHUB_ENV
      - name: Delete the index
        run: |
          cd apps/asap-server
          export ALGOLIA_INDEX=asap-hub_CI-${{ needs.setup.outputs.pr-number }}
          yarn workspace @asap-hub/asap-server run algolia deleteindicespattern -a $ALGOLIA_APP_ID -k $ALGOLIA_API_KEY -r "^$ALGOLIA_INDEX$" -x false
  notify_failure:
    runs-on: ubuntu-18.04
    needs: [sls_teardown, delete_algolia_indice]
    if: failure()
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: ./.github/actions/slack/
        with:
          message: Environment teardown has failed
          webhook: ${{ secrets.SLACK_WEBHOOK }}
          color: '#ff0000'
