name: Generate ECR password
on:
  schedule:
    - cron: '0 */8 * * *'
  workflow_dispatch:
  push:
    branches:
      - build-docker-images-2
jobs:
  generate-ecr-password:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set ECR password
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION_IMAGE_REPOSITORY }}
          GITHUB_TOKEN: ${{ secrets.GH_API_ACCESS_TOKEN }}
        run: |
          AWS_ECR_PASSWORD=$(aws ecr get-login-password --region $AWS_REGION)
          gh secret set AWS_ECR_PASSWORD --body "$AWS_ECR_PASSWORD"
