name: Opensearch Analytics Sync
on:
  workflow_dispatch:
    inputs:
      metric:
        required: true
        type: choice
        description: Choose which metric to sync
        default: all
        options:
          - os-champion
          - preliminary-data-sharing
          - attendance
          - preprint-compliance
          - publication-compliance
          - user-productivity
          - team-productivity
          - user-collaboration
          - team-collaboration
          - ig-leadership
          - wg-leadership
          - all
      environment-name:
        required: true
        type: choice
        description: Choose which environment to sync
        default: Branch
        options:
          - Branch
          - Development
          - Production
      contentful-environment-id:
        required: true
        type: string
        description: The contentful environment to sync from
        default: Development

jobs:
  sync-opensearch:
    uses: ./.github/workflows/reusable-crn-opensearch-sync.yml
    with:
      metric: ${{ github.event.inputs.metric }}
      environment-name: ${{ github.event.inputs.environment-name }}
      contentful-environment-id: ${{ github.event.inputs.contentful-environment-id }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      CRN_CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CRN_CONTENTFUL_ACCESS_TOKEN }}
      CONTENTFUL_MANAGEMENT_TOKEN: ${{ secrets.CONTENTFUL_MANAGEMENT_TOKEN }}
      AWS_OS_USERNAME: ${{ secrets.AWS_OS_USERNAME }}
      AWS_OS_PASSWORD: ${{ secrets.AWS_OS_PASSWORD }}
