name: Pipeline Contentful App Extensions

on:
  push:
    branches:
      - master

jobs:
  check-updates:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/yldio/asap-hub/node-python-sq:f93db8bae8be7528565c2510dbc8e3eece97983d
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      GIT_DIFF: ${{ steps.diff.outputs.diff }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Add safe directory
        run: git config --system --add safe.directory /__w/asap-hub/asap-hub
      - name: Check if some app has changed
        uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            packages/contentful-app-extensions/**/*
            .github/**/*
      - id: diff
        run: |
          echo "::set-output name=diff::${{ env.GIT_DIFF }}"

  test:
    needs: [check-updates]
    if: ${{ needs.check-updates.outputs.GIT_DIFF != '' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/yldio/asap-hub/node-python-sq:f93db8bae8be7528565c2510dbc8e3eece97983d
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run contentful app extension tests
        run: yarn workspaces foreach -j 2 --include "*/contentful-app-*" -vp run test:no-watch

  build-and-deploy:
    needs: [test]
    if: ${{ needs.check-updates.outputs.GIT_DIFF != '' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/yldio/asap-hub/node-python-sq:f93db8bae8be7528565c2510dbc8e3eece97983d
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      matrix:
        app:
          - date-field-as-first-published-at
          - disabled-fields
          - event-additional-materials
          - event-speakers-title
          - field-as-updated-at
          - user-membership
          - user-positions
          - user-team-memberships
          - clear-on-change
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        id: setup
        uses: ./.github/actions/setup-environment
        with:
          environment-name: Production
      - name: Build ${{matrix.app}}
        run: yarn workspace @asap-hub/contentful-app-${{ matrix.app }} build
      - name: Deploy ${{matrix.app}}
        uses: contentful/actions-app-deploy@v1
        with:
          organization-id: ${{ steps.setup.outputs.contentful-organization-id }}
          app-definition-id: ${{ steps.setup.outputs[ format('contentful-app-{0}', matrix.app) ] }}
          access-token: ${{ secrets.CONTENTFUL_MANAGEMENT_TOKEN }}
          folder: packages/contentful-app-extensions/${{matrix.app}}/build
