name: Remove environment
permissions: read-all
on:
  pull_request_target:
    types: [closed]
  workflow_dispatch:
    inputs:
      pr-number:
        required: true
        type: string
        description: Choose which PR number to destroy
jobs:
  crn-sls-remove:
    if: ${{ github.event.inputs.pr-number || github.event.pull_request.head.repo.full_name == 'yldio/asap-hub' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/yldio/asap-hub/node-python-sq:be0ebbcbd0ff209d56070f09590c5d9622e8a6dc
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    environment: Branch
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Remove sls for crn
        uses: ./.github/actions/sls-remove
        with:
          environment-name: Branch
          app: crn-server
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          lightstep-token: ${{ secrets.LIGHTSTEP_TOKEN }}
          crn-squidex-api-client-secret: ${{ secrets.CRN_SQUIDEX_API_CLIENT_SECRET }}
          crn-squidex-shared-secret: ${{ secrets.CRN_SQUIDEX_SHARED_SECRET }}
          gp2-auth0-shared-secret: ${{ secrets.GP2_AUTH0_SHARED_SECRET }}

  gp2-sls-remove:
    if: ${{ github.event.inputs.pr-number || github.event.pull_request.head.repo.full_name == 'yldio/asap-hub' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/yldio/asap-hub/node-python-sq:be0ebbcbd0ff209d56070f09590c5d9622e8a6dc
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    environment: Branch
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Remove sls for gp2
        uses: ./.github/actions/sls-remove
        with:
          environment-name: Branch
          app: gp2-server
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          lightstep-token: ${{ secrets.LIGHTSTEP_TOKEN }}
          gp2-squidex-api-client-secret: ${{ secrets.GP2_SQUIDEX_API_CLIENT_SECRET }}
          gp2-squidex-shared-secret: ${{ secrets.GP2_SQUIDEX_SHARED_SECRET }}
          gp2-auth0-shared-secret: ${{ secrets.GP2_AUTH0_SHARED_SECRET }}

  crn-squidex-remove:
    if: ${{ github.event.inputs.pr-number || github.event.pull_request.head.repo.full_name == 'yldio/asap-hub' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/yldio/asap-hub/node-python-sq:be0ebbcbd0ff209d56070f09590c5d9622e8a6dc
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    environment: Branch
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        id: setup
        uses: ./.github/actions/setup-environment
        with:
          environment-name: Branch
      - name: Check PR Number
        if: ${{ github.event.inputs.pr-number }}
        uses: ./.github/actions/is-number
        with:
          number: ${{ github.event.inputs.pr-number }}
      - name: Delete PR Squidex App
        run: python .github/scripts/squidex/delete-app.py
        env:
          SQUIDEX_APP_NAME: ${{ steps.setup.outputs.crn-squidex-app-name }}
          SQUIDEX_BASE_URL: ${{ steps.setup.outputs.squidex-base-url }}
          SQUIDEX_CLIENT_ID: ${{ steps.setup.outputs.crn-squidex-ci-client-id }}
          SQUIDEX_CLIENT_SECRET: ${{ secrets.CRN_SQUIDEX_CI_CLIENT_SECRET }}
      - name: Delete Legacy PR Squidex App
        run: python .github/scripts/squidex/delete-app.py
        env:
          SQUIDEX_APP_NAME: ${{ steps.setup.outputs.crn-squidex-app-name-legacy }}
          SQUIDEX_BASE_URL: ${{ steps.setup.outputs.squidex-base-url }}
          SQUIDEX_CLIENT_ID: ${{ steps.setup.outputs.crn-squidex-ci-client-id }}
          SQUIDEX_CLIENT_SECRET: ${{ secrets.CRN_SQUIDEX_CI_CLIENT_SECRET }}

  gp2-squidex-remove:
    if: ${{ github.event.inputs.pr-number || github.event.pull_request.head.repo.full_name == 'yldio/asap-hub' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/yldio/asap-hub/node-python-sq:be0ebbcbd0ff209d56070f09590c5d9622e8a6dc
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    environment: Branch
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        id: setup
        uses: ./.github/actions/setup-environment
        with:
          environment-name: Branch
      - name: Check PR Number
        if: ${{ github.event.inputs.pr-number }}
        uses: ./.github/actions/is-number
        with:
          number: ${{ github.event.inputs.pr-number }}
      - name: Delete PR Squidex App
        run: python .github/scripts/squidex/delete-app.py
        env:
          SQUIDEX_APP_NAME: ${{ steps.setup.outputs.gp2-squidex-app-name }}
          SQUIDEX_BASE_URL: ${{ steps.setup.outputs.squidex-base-url }}
          SQUIDEX_CLIENT_ID: ${{ steps.setup.outputs.gp2-squidex-ci-client-id }}
          SQUIDEX_CLIENT_SECRET: ${{ secrets.GP2_SQUIDEX_CI_CLIENT_SECRET }}

  crn-contentful-remove:
    if:  ${{ github.event.inputs.pr-number || github.event.pull_request.head.repo.full_name == 'yldio/asap-hub' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/yldio/asap-hub/node-python-sq:be0ebbcbd0ff209d56070f09590c5d9622e8a6dc
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    environment: Branch
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        id: setup
        uses: ./.github/actions/setup-environment
        with:
          environment-name: Branch
      - name: Contentful checks
        id: contentful-checks
        uses: ./.github/actions/contentful-checks
        with:
          pr-number: ${{ github.event.inputs.pr-number }}
          contentful-space-id: ${{ steps.setup.outputs.contentful-space-id }}
          contentful-master-env: ${{ steps.setup.outputs.contentful-environment }}
          contentful-token: ${{ secrets.CONTENTFUL_MANAGEMENT_TOKEN }}
          max-contentful-envs: ${{ steps.setup.outputs.max-contentful-envs }}
      - name: Contentful Teardown
        if: ${{ steps.contentful-checks.outputs.on-branch-env }}
        id: contentful-teardown
        uses: ./.github/actions/contentful-teardown
        with:
          contentful-space-id: ${{ steps.setup.outputs.contentful-space-id }}
          contentful-token: ${{ secrets.CONTENTFUL_MANAGEMENT_TOKEN }}
          contentful-env: ${{ steps.contentful-checks.outputs.contentful-env }}

  algolia-index:
    if: ${{ github.event.inputs.pr-number || github.event.pull_request.head.repo.full_name == 'yldio/asap-hub' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/yldio/asap-hub/node-python-sq:be0ebbcbd0ff209d56070f09590c5d9622e8a6dc
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check PR Number
        if: ${{ github.event.inputs.pr-number }}
        uses: ./.github/actions/is-number
        with:
          number: ${{ github.event.inputs.pr-number }}
      - name: Setup
        id: setup
        uses: ./.github/actions/setup-environment
        with:
          environment-name: Branch
      - name: Rebuild dependencies
        run: yarn build:babel
      - name: Get Algolia Keys
        id: algolia-keys
        uses: ./.github/actions/algolia-keys
        with:
          algolia-app-id-name: ${{ steps.setup.outputs.algolia-app-id-name }}
          algolia-api-key-name: ${{ steps.setup.outputs.algolia-api-key-name }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-default-region: ${{ steps.setup.outputs.aws-default-region }}
      - name: Delete the index
        run: |
          yarn algolia:delete-index -a $ALGOLIA_APP_ID -k $ALGOLIA_API_KEY -n $ALGOLIA_INDEX
        env:
          ALGOLIA_API_KEY: ${{ steps.algolia-keys.outputs.algolia-api-key }}
          ALGOLIA_APP_ID: ${{ steps.algolia-keys.outputs.algolia-app-id }}
          ALGOLIA_INDEX: ${{ steps.setup.outputs.algolia-index }}

  notify_failure:
    runs-on: ubuntu-latest
    needs:
      [
        crn-sls-remove,
        gp2-sls-remove,
        crn-squidex-remove,
        gp2-squidex-remove,
        algolia-index,
      ]
    if: ${{ failure() && (github.event.inputs.pr-number || github.event.pull_request.head.repo.full_name == 'yldio/asap-hub') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: ./.github/actions/slack/
        with:
          message: Environment teardown
          webhook: ${{ secrets.SLACK_WEBHOOK }}
          status: failure
