name: PROD - Sync Algolia with squidex
on:
  workflow_dispatch:
jobs:
  replace_prod_index:
    runs-on: ubuntu-18.04
    env:
      SQUIDEX_CLIENT_ID: ${{ secrets.SQUIDEX_CLIENT_ID_PROD }}
      SQUIDEX_CLIENT_SECRET: ${{ secrets.SQUIDEX_CLIENT_SECRET_PROD }}
      SQUIDEX_APP_NAME: asap-hub
      SQUIDEX_BASE_URL: https://cloud.squidex.io
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: 'us-east-1'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: yarn build
      - name: Download the Research Outputs
        run: yarn ro:export
      - name: Setup Environment Variables
        run: |
          echo "ALGOLIA_APP_ID=$(aws ssm get-parameter --name 'algolia-app-id-prod' --query Parameter.Value --output text)" >> $GITHUB_ENV
          echo "ALGOLIA_API_KEY=$(aws ssm get-parameter --name 'algolia-api-key-ci-prod' --query Parameter.Value --output text)" >> $GITHUB_ENV
          echo "::add-mask::$(aws ssm get-parameter --name 'algolia-api-key-ci-prod' --query Parameter.Value --output text)"
          echo "ALGOLIA_RESEARCH_OUTPUT_INDEX=asap-hub_research_outputs_prod" >> $GITHUB_ENV
          echo "ALGOLIA_RESEARCH_OUTPUT_INDEX_RESTORE=asap-hub_research_outputs_prod_restore" >> $GITHUB_ENV
          echo "ALGOLIA_RESEARCH_OUTPUT_INDEX_BACKUP=asap-hub_research_outputs_prod_backup" >> $GITHUB_ENV
      - name: Copy index settings to a temporary index
        run: yarn run algolia transferindexconfig -a $ALGOLIA_APP_ID -k $ALGOLIA_API_KEY -n $ALGOLIA_RESEARCH_OUTPUT_INDEX -d $ALGOLIA_APP_ID -y $ALGOLIA_API_KEY -i $ALGOLIA_RESEARCH_OUTPUT_INDEX_RESTORE
      - name: Import records into the temporary index
        run: yarn run algolia import -s ./ro.json -a $ALGOLIA_APP_ID -k $ALGOLIA_API_KEY -n $ALGOLIA_RESEARCH_OUTPUT_INDEX_RESTORE -t ./apps/asap-server/scripts/algolia-transformation.js
      - name: Move old production index as a temporary backup
        run: yarn run algolia transferindex -a $ALGOLIA_APP_ID -k $ALGOLIA_API_KEY -n $ALGOLIA_RESEARCH_OUTPUT_INDEX -d $ALGOLIA_APP_ID -y $ALGOLIA_API_KEY -i $ALGOLIA_RESEARCH_OUTPUT_INDEX_BACKUP
      - name: Delete old prod index
        run: yarn run algolia deleteindicespattern -a $ALGOLIA_APP_ID -k $ALGOLIA_API_KEY -r "^$ALGOLIA_RESEARCH_OUTPUT_INDEX$" -x false
      - name: Move temporary index to the prod one
        run: yarn run algolia transferindex -a $ALGOLIA_APP_ID -k $ALGOLIA_API_KEY -n $ALGOLIA_RESEARCH_OUTPUT_INDEX_RESTORE -d $ALGOLIA_APP_ID -y $ALGOLIA_API_KEY -i $ALGOLIA_RESEARCH_OUTPUT_INDEX
      - name: Delete the backup index
        run: yarn run algolia deleteindicespattern -a $ALGOLIA_APP_ID -k $ALGOLIA_API_KEY -r "^$ALGOLIA_RESEARCH_OUTPUT_INDEX_BACKUP$" -x false
      - name: Delete the restore index
        run: yarn run algolia deleteindicespattern -a $ALGOLIA_APP_ID -k $ALGOLIA_API_KEY -r "^$ALGOLIA_RESEARCH_OUTPUT_INDEX_RESTORE$" -x false
