name: Reusable verify

on:
  workflow_call:
    inputs:
      environment-name:
        description: 'The environment name'
        required: true
        type: string
      crn-contentful-env:
        description: 'CRN Contentful environment name'
        type: string
        required: false
      gp2-contentful-env:
        description: 'GP2 Contentful environment name'
        type: string
        required: false
    secrets:
      CRN_SQUIDEX_CI_CLIENT_SECRET:
        description: 'CRN Squidex Client Secret'
        required: true
      FRONTEND_SENTRY_RELEASE_AUTH_TOKEN:
        description: 'Sentry Auth token'
        required: false
      GP2_SQUIDEX_CI_CLIENT_SECRET:
        description: 'GP2 Squidex Client Secret'
        required: true
      CRN_CONTENTFUL_ACCESS_TOKEN:
        description: 'CRN Contentful Access Token'
        required: false
      GP2_CONTENTFUL_ACCESS_TOKEN:
        description: 'GP2 Contentful Access Token'
        required: false

jobs:
  sls:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/yldio/asap-hub/node-python-sq:f93db8bae8be7528565c2510dbc8e3eece97983d
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        id: setup
        uses: ./.github/actions/setup-environment
        with:
          environment-name: ${{ inputs.environment-name }}
      - name: Test CRN
        run: API_URL=${{ steps.setup.outputs.crn-api-url }} yarn test:e2e
      - name: Test GP2
        run: API_URL=${{ steps.setup.outputs.gp2-api-url }} yarn test:e2e

  test-e2e:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:focal
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        id: setup
        uses: ./.github/actions/setup-environment
        with:
          environment-name: ${{ inputs.environment-name }}
      - name: Cache build typecheck output
        uses: ./.github/actions/cache-unplugged
        with:
          environment-name: ${{ inputs.environment-name }}
      - name: Install Playwright
        if: ${{ inputs.environment-name=='Branch' }}
        run: |
          yarn workspace @asap-hub/e2e-tests run playwright install
      - name: Test CRN
        if: ${{ inputs.environment-name=='Branch' }}
        run: |
          yarn workspace @asap-hub/e2e-tests run playwright test
        env:
          APP_URL: ${{ steps.setup.outputs.crn-app-url }}
      - name: Test GP2
        if: ${{ inputs.environment-name=='Branch' }}
        run: |
          yarn workspace @asap-hub/e2e-tests run playwright test
        env:
          APP_URL: ${{ steps.setup.outputs.gp2-app-url }}

  crn-squidex-schema:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment-name }}
    container:
      image: ghcr.io/yldio/asap-hub/node-python-sq:f93db8bae8be7528565c2510dbc8e3eece97983d
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        id: setup
        uses: ./.github/actions/setup-environment
        with:
          environment-name: ${{ inputs.environment-name }}
      - name: Verify CRN Squidex Graphql Schema
        uses: ./.github/actions/squidex-verify
        with:
          environment-name: ${{ inputs.environment-name }}
          app: crn
          squidex-app-name: ${{ steps.setup.outputs.crn-squidex-app-name }}
          squidex-base-url: ${{ steps.setup.outputs.squidex-base-url }}
          squidex-ci-client-id: ${{ steps.setup.outputs.crn-squidex-ci-client-id }}
          squidex-ci-client-secret: ${{ secrets.CRN_SQUIDEX_CI_CLIENT_SECRET }}

  crn-contentful-schema:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment-name }}
    container:
      image: ghcr.io/yldio/asap-hub/node-python-sq:f93db8bae8be7528565c2510dbc8e3eece97983d
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        id: setup
        uses: ./.github/actions/setup-environment
        with:
          environment-name: ${{ inputs.environment-name }}
      - name: Verify CRN Contentful Graphql Schema
        if: ${{ inputs.environment-name=='Branch' }}
        run: |
          APP_NAME=crn ./packages/contentful/scripts/schema-update.sh
          git --git-dir=.git diff --exit-code ./packages/contentful/src/crn/autogenerated-gql/
        env:
          CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CRN_CONTENTFUL_ACCESS_TOKEN }}
          CONTENTFUL_SPACE_ID: ${{ steps.setup.outputs.crn-contentful-space-id }}
          CONTENTFUL_ENV_ID: ${{ inputs.crn-contentful-env }}

  gp2-contentful-schema:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment-name }}
    container:
      image: ghcr.io/yldio/asap-hub/node-python-sq:f93db8bae8be7528565c2510dbc8e3eece97983d
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        id: setup
        uses: ./.github/actions/setup-environment
        with:
          environment-name: ${{ inputs.environment-name }}
      - name: Verify GP2 Contentful Graphql Schema
        if: ${{ inputs.environment-name=='Branch' }}
        run: |
          APP_NAME=gp2 ./packages/contentful/scripts/schema-update.sh
          git --git-dir=.git diff --exit-code ./packages/contentful/src/gp2/autogenerated-gql/
        env:
          CONTENTFUL_ACCESS_TOKEN: ${{ secrets.GP2_CONTENTFUL_ACCESS_TOKEN }}
          CONTENTFUL_SPACE_ID: ${{ steps.setup.outputs.gp2-contentful-space-id }}
          CONTENTFUL_ENV_ID: ${{ inputs.gp2-contentful-env }}

  gp2-schema:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment-name }}
    container:
      image: ghcr.io/yldio/asap-hub/node-python-sq:f93db8bae8be7528565c2510dbc8e3eece97983d
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        id: setup
        uses: ./.github/actions/setup-environment
        with:
          environment-name: ${{ inputs.environment-name }}
      - name: Verify GP2
        uses: ./.github/actions/squidex-verify
        with:
          environment-name: ${{ inputs.environment-name }}
          app: gp2
          squidex-app-name: ${{ steps.setup.outputs.gp2-squidex-app-name }}
          squidex-base-url: ${{ steps.setup.outputs.squidex-base-url }}
          squidex-ci-client-id: ${{ steps.setup.outputs.gp2-squidex-ci-client-id }}
          squidex-ci-client-secret: ${{ secrets.GP2_SQUIDEX_CI_CLIENT_SECRET }}

  register-release:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment-name }}
    container:
      image: ghcr.io/yldio/asap-hub/node-python-sq:f93db8bae8be7528565c2510dbc8e3eece97983d
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        id: setup
        uses: ./.github/actions/setup-environment
        with:
          environment-name: ${{ inputs.environment-name }}
      - name: Cache rebuild output
        uses: ./.github/actions/cache-unplugged
        with:
          environment-name: ${{ inputs.environment-name }}
      - name: Register Sentry
        if: ${{ inputs.environment-name=='Development' || inputs.environment-name=='Production' }}
        run: |
          yarn run release:frontend
        env:
          FRONTEND_SENTRY_RELEASE_AUTH_TOKEN: ${{ secrets.FRONTEND_SENTRY_RELEASE_AUTH_TOKEN }}
          REACT_APP_RELEASE: ${{ steps.setup.outputs.app-release }}
