name: Setup

on:
  workflow_call:
    inputs:
      image-tag:
        description: 'Image Tag'
        required: false
        default: 1de8c60b2214fbca2e0959aa7f473c55bbc2e014
        type: string
      asap-hostname:
        description: 'ASAP Hostname'
        required: false
        type: string
    outputs:
      pr-number:
        description: 'The current PR number'
        value: ${{ github.event.number || github.event.inputs.prNumber }}
      integration-image-name:
        description: 'Name of integration image'
        value: ${{ jobs.image-names.outputs.integration-image-name }}
      squidex-image-name:
        description: 'Name of Squidex image'
        value: ${{ jobs.image-names.outputs.squidex-image-name }}
jobs:
  image-names:
    runs-on: ubuntu-latest
    outputs:
      integration-image-name: ${{ steps.get-image-names.outputs.integration-image-name }}
      squidex-image-name: ${{ steps.get-image-names.outputs.squidex-image-name }}
    steps:
      - name: Output Image Name
        id: get-image-names
        shell: bash
        env:
          IMAGE_TAG: ${{ inputs.image-tag }}
          NODE_VERSION: ${{ inputs.node-version }}
        run: |
          REPOSITORY="ghcr.io/yldio/asap-hub"
          INTEGRATION_IMAGE_NAME="$REPOSITORY/node-python-sq:$IMAGE_TAG"
          SQUIDEX_IMAGE_NAME="$REPOSITORY/squidex-utils:$IMAGE_TAG"
          echo "::set-output name=integration-image-name::$INTEGRATION_IMAGE_NAME"
          echo "::set-output name=squidex-image-name::$SQUIDEX_IMAGE_NAME"
          echo ${{ inputs.asap-hostname }}
          echo "ASAP_HOSTNAME"
          echo $ASAP_HOSTNAME
